nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    backdrop-filter: blur(5px);
}

nav * {
    font-size: 21px;
    color: ivory;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: "Frank Ruhl Libre", serif;
    text-transform: uppercase;
    padding: 0;
}

nav li a {
    text-decoration: none;
}


nav img.logo {
    margin: 1rem auto;
}