nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1.7rem 0;
    backdrop-filter: blur(5px);
}

nav * {
    font-weight: 600;
    color: ivory;
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-family: "Frank Ruhl Libre", serif;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
}