<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber Shop</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    {% include "navigation.html" %}
    <div class="container">
        {% include "demo-video.html" %}
        <h1>Here, tradition and rustic style meet</h1>
        {% include "scissors.html" %}
        <div class="cta-container">
            <a class="booking-button" href="/bookings">Seat <br> reservation</a>
            <a disabled=" true" class="telephone-button" href="tel:+36204334421">+36 20 433 4421</a>
        </div>
        {% set class_name = "scissors-big" %}
        {% include "scissors.html" %}
        {% include "footer.html" %}
    </div>
</body>

</html>